.title {
    color: blue;
}

.posting{
    background-color: white;
    
}
.top-wrapper{
  padding: 180px 0 100px 0;
  background-image:url(../images/rain.jpeg);
  color: white;
  background-size: cover;
}
